certifi
chardet==3.0.4
click
Django==3.1.7
feedparser
Flask
httpsig
idna==2.6
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
Pillow
pycryptodome
python-dateutil
python-magic==0.4.15
pytz
requests
six==1.11.0
urllib3==1.22
uWSGI
Werkzeug
